.products {
  padding-top: 80px;
  padding-bottom: 150px;
  @media (max-width: 759px) {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  &-title {
    margin-bottom: 40px;
    @media (max-width: 759px) {
      margin-bottom: 24px;
    }
  }
  &__items {
    @media (max-width: 759px) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}